/* Add your custom css here */


.page > h1, h2, h3 {
    @apply mb-5;
}

.page > p {
    @apply leading-loose text-xl mb-4;
}

.article p, .article h1, .article h2, .article h3, .article h4, .article h5, .article h6, article table {
    @apply max-w-3xl mx-auto px-4;
}

.article p code {
    @apply bg-gray-900 text-green-500 p-1 px-2 rounded-md mx-1;
}
.article table {
    @apply max-w-3xl mx-auto my-6 bg-gray-100;
}
.article table td, th {
    @apply px-4 py-2;
}

.article pre code {
    @apply p-0 bg-transparent rounded-none;
}

.article h2 {
    @apply text-2xl;
}
.article h3 {
    @apply text-xl;
}
.article h4 {
    @apply text-lg;
}
.article p {
    @apply mb-8;
}

.article li > p {
    @apply mb-2 pl-2;
}

.article {
    @apply w-full;
}
