/* Base Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Helper classes */
.transition {
    transition: 1s;
}

.min-h-screen {
    min-height: 100vh;
}

/*  Font Styling */
body {
    @apply text-lg font-body bg-gray-bg
}

p {
    @apply mb-2 leading-loose
}

h1, h2, h3, h4, h5, h6 {
    @apply font-display
}

h1 { 
    @apply text-5xl font-bold
}
h2 { 
    @apply text-4xl font-bold
}
h3 { 
    @apply text-3xl font-bold
}
h4 { 
    @apply text-2xl font-bold
}
h5 { 
    @apply text-xl mb-2 font-bold
}
h6 { 
    @apply text-lg font-bold
}

/* ul::marker {
   color: green;
} */

li::marker {
    @apply text-highlight font-bold
}